<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <title>TailwindCSS</title>
</head>

<body class="flex flex-col min-h-screen">
    <%= render "shared/header" %>
    <%= render "shared/explanation" %>
  <div class="flex-grow">
      <%= yield %>
  </div>
    <%= render "shared/footer" %>
</body>
</html>